<html>
<title>Removed scores</title>

<style type="text/css">
table{
    border-collapse: collapse;
}
td, th, table{
    border: 1pt solid black;
    padding: 5pt;
}
</style>

<table>
    <tr>
        <th>Sub ID</th>
        <th>Time</th>
        <th>Badge ID</th>
        <th>Name</th>
        <th>Game</th>
        <th>Score</th>
        <th>Staff Name</th>
        <th>Removed Time</th>
    </tr>
    {% for submit in removed %}
        <tr>
        {% for item in submit %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
