<html>
<title>Score submissions</title>

<style type="text/css">
table{
    border-collapse: collapse;
}
td, th, table{
    border: 1pt solid black;
    padding: 5pt;
}
</style>
<body>
<a href="submit">Back to submit form</a><br><br>

{% with message = get_flashed_messages() %}
  {% if message %}
    {{message[0]}}<br><br>
  {% endif %}
{% endwith %}
<form action="/submissions" method="POST">
<table>
    <tr>
        <th>Sub ID</th>
        <th>Time</th>
        <th>Badge ID</th>
        <th>Name</th>
        <th>Game</th>
        <th>Score</th>
        <th>Staff Name</th>
        <th>Delete?</th>
    </tr>
    {% for submit in submissions %}
        <tr>
        {% for item in submit %}
            <td>{{ item }}</td>
        {% endfor %}
        <td><input type="checkbox" name="del{{ submit[0] }}" id="del{{ submit[0] }}">
        </tr>
    {% endfor %}

</table><br>
<input type="submit" value="Delete Selected"></form>
<br><br><a href="submit">Back to submit form</a></body></html>
